@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300;1,400;1,700&family=Poppins:wght@300;400&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 559px) {
  .courses-img img {
    width: 100%;
  }
  #register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login {
    width: 100%;
  }
}
