@media screen and (max-width: 559px) {
  .courses-img img {
    width: 100%;
  }
  #register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login {
    width: 100%;
  }
}
